/* SHARED STYLE */

body{
    font-family: 'Mulish', sans-serif;
    width: 1440px;
}
.color-orange{
    color: #FF5400;
}

                    /*    NAV    */

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 50px auto;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.explore-era{
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
}

nav li{
    list-style: none;
   
    font-weight: 400;

    
}
nav li a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #424247;
}
