/* SHARED STYLE */

body{
    font-family: 'Mulish', sans-serif;
    /* width: 1440px; */
}
.color-orange{
    color: #FF5400;
}
.all-title{
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
}
.all-p{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    font-size: 1rem;
}
.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF5400;
    padding: 15px 30px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}

                    /*    NAV    */

.menu{
    display: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 50px auto;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.explore-era{
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
}

nav li{
    list-style: none;
   
    font-weight: 400;

    
}
nav li a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #424247;
}

/*  MAIN BANNER SECTION */

.banner{
    
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 400px;
    background-repeat: no-repeat;
    margin: 0px auto;
    text-align: center;
    padding-top: 100px;
    border-radius: 16px;
}
.banner-title{
    font-weight: 800;
    font-size: 4rem;
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 10px;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: #FFF;
}


/*  POPULAR TOUR SECTION  */

.popular-tour{
    display: flex;
    gap: 50px;
    margin: 100px auto;
    max-width: 1170px;

}
.tour-li{
    padding-bottom: 16px;
}


/* Destination  SECTION  */

.destination{
    max-width: 1170px;
    margin: 0 auto;
}
.destination-title{
    text-align: center;
}
.dest-title{
    margin-top: 0px;
    margin-bottom: 10px;
}

/*  DESTINATION IMG*/

.div-parent{
    max-width: 1170px;
}
/* FIRST DIV IMG */
.first-div{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.container {
    position: relative;
    text-align: center;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    text-align: center;
    font-weight: 800;
    font-size: 1.+-large;
  }

/* SECOND DIV IMG */
.second-div{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.third-div{
    display: flex;
    gap: 24px;
}


/*          RESPONSIVE     */

@media screen and (max-width:600px){

    nav{
        flex-direction: column;
       margin: 50px 0px;
        /* max-width: 600px; */
       
    }
    .popular-tour{
        flex-direction: column; 
        margin-left: 6px;
        margin-right: 5px;
    
    }
    .popular-tour img{
        max-width: 100%;
       
    }
    .first-div,
    .second-div,
    .third-div
    {
        flex-direction: column; 
    }
    .first-div img,
    .second-div img,
    .third-div img
    {
        max-width: 100%;
    }
    .destination-title .all-title{
        font-size: 1.6rem;

    }
    /* .srilanka img{
       width: 450px;
    }
    .kashmir img{
        width: 550px;
    } */
}


